.yukseklik {
  height: 70vh;
}

#main {
  height: 100vh;
  color: white;
  background-image: url("img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#main::after {
  content: "";
  display: block; /* defaultu display inline */
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute; /* üstte main relative ya, bunu absolute yapınca maine göre top left yaptık */
  top: 0;
  left: 0;
  opacity: 0.65; /* 1 verirsek resim görünmez */
  z-index: 0; /* aşağıda da z-index 10 verdik yani h2 yazıları falan bu karartmanın önüne çıkacak */
}
#main > * {
  z-index: 10;
  position: relative;
}

a {
  color: #5be5b4;
}
